<!DOCTYPE html>
<html>
  <head>
    <title>RestTester</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p> this p was before yield </p>
    <%= yield %>
    <h3> this h3 was after yield </h3>
  </body>
</html>
